<header class="header">
    <h1 class="title">
    <a href='home' style="color: #FFFFFF">在线h5生成工具</a>
    </h1>
    <ul class="editor-tool">
        <li id='addText' class="tool-text">文本</li>
        <li id='addImage' class="tool-img">图片</li>
    </ul>
    <div class="user-btn">
        <a href="javascript:void(0);" class="btn setting" id='setting'>设置</a>
    	<a href="javascript:void(0);" class="btn save" id='save'>保存</a>
    	<a href="javascript:void(0);" class="btn preview" id='preview'>运行</a>
    	<a href="javascript:void(0);" class="btn close" id='download'>下载</a>
    </div>
</header>
